# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual Environment
.venv/
venv/
ENV/
env/

# Jupyter Notebooks
.ipynb_checkpoints/

# Environment variables
.env

# Logs
*.log
app_log.txt

# Distribution / packaging
*.egg-info/
dist/
build/

# IDEs
.idea/
.vscode/
*.swp
*.swo
