# Python
__pycache__/
.DS_Store
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual Environment
.venv/
venv/
ENV/
env/

# Jupyter Notebooks
.ipynb_checkpoints/

# Environment variables
.env
*.env

# Logs
*.log
app_log.txt

# Distribution / packaging
*.egg-info/
dist/
build/

# Temporary files
tmp/
.tmp/

# Security / Credentials (Never check these in)
*.key
*.pem
*.json
auth.json
!cloudbuild.yaml
!package.json

# IDEs
.idea/
.vscode/
*.swp
*.swo
